<?xml version="1.0"?>
<config>
    <modules>
        <Prakash_Mymodule>
            <version>0.1.0</version>
        </Prakash_Mymodule>
    </modules>
    <frontend>
        <routers>
            <mymodule>
                <use>standard</use>
                <args>
                    <module>Prakash_Mymodule</module>
                    <frontName>prakash_mymodule</frontName>
                </args>
            </mymodule>
        </routers>
    </frontend>
</config>
